{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
    <h1>Crear Producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('producto') }}">Volver al listado</a>
{% endblock %}
