{% extends 'base.html.twig' %}

{% block title %}Editar Categoría{% endblock %}

{% block body %}
    <h1>Editar Categoría</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('categoria') }}">Volver al listado</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
